__pycache__/
*.pyc
usuarios.db__pycache__/
*.db
.venv/
*.png
*.avi
*.mp4
*.zip                                                                                                                                     
