<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veridit - Provas Digitais</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body class="page-{{ rota_ativa }}">
    
    {% block main_layout %}{% endblock %}

</body>
</html>